<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GuaGua.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ABBAE3CFD1DD1BBB616BA7EE557579E9288B12D4</string>
				<key>dateExpires</key>
				<string>2019/8/3</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABBAE3CFD1DD1BBB616BA7EE557579E9288B12D4</string>
						<key>dateExpires</key>
						<string>2019/8/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AliThirdparty.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8V3F299DM</string>
						<key>name</key>
						<string>GuaGua  NetWork Technology (DaLian) Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABBAE3CFD1DD1BBB616BA7EE557579E9288B12D4</string>
						<key>dateExpires</key>
						<string>2019/8/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AliyunPlayerSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8V3F299DM</string>
						<key>name</key>
						<string>GuaGua  NetWork Technology (DaLian) Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABBAE3CFD1DD1BBB616BA7EE557579E9288B12D4</string>
						<key>dateExpires</key>
						<string>2019/8/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AliyunVodPlayerSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8V3F299DM</string>
						<key>name</key>
						<string>GuaGua  NetWork Technology (DaLian) Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABBAE3CFD1DD1BBB616BA7EE557579E9288B12D4</string>
						<key>dateExpires</key>
						<string>2019/8/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AnswerQuestionsLib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8V3F299DM</string>
						<key>name</key>
						<string>GuaGua  NetWork Technology (DaLian) Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABBAE3CFD1DD1BBB616BA7EE557579E9288B12D4</string>
						<key>dateExpires</key>
						<string>2019/8/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IJKMediaFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8V3F299DM</string>
						<key>name</key>
						<string>GuaGua  NetWork Technology (DaLian) Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ABBAE3CFD1DD1BBB616BA7EE557579E9288B12D4</string>
						<key>dateExpires</key>
						<string>2019/8/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>A8V3F299DM.com.guagua.pusher.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>A8V3F299DM</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>A8V3F299DM.com.guagua.pusher.NotificationService</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ecd1aca3-6896-4e32-83ff-6cf77a6aba28</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.guagua.pusher.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8V3F299DM</string>
						<key>name</key>
						<string>GuaGua  NetWork Technology (DaLian) Co.,Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A8V3F299DM.com.guagua.pusher</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:sr7odp.mlinks.cc</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>A8V3F299DM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>GuaGua.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75d54001-a4ef-4fff-85ec-bd108c37389b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.guagua.pusher</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A8V3F299DM</string>
				<key>name</key>
				<string>GuaGua  NetWork Technology (DaLian) Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
